doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      | Application
    <style>!{loadFile('client/build/application.css')}</style>
  body
    scrollthingy
      each chapter in chapters
        section(style="background-image: url('#{chapter.image}');" data-name= chapter.name data-title= chapter.title data-id= chapter.name)
          div.text__wrapper
            div.text!= chapter.html
      section.footer
        p.footer__center
          | Images taken from 
          a(target="_blank" href="http://nos.twnsnd.co/" alt="Great old timy stock photos :)")
            | New Old Stock
    script(src="/build/application.js")

