doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      | Application For Wimdu
    <style>!{loadFile('client/build/application.css')}</style>
  body
    scrollthingy
      each chapter in chapters
        section(style="background-image: url('#{chapter.image}');" data-name= chapter.name data-title= chapter.title id= chapter.name)
          div.text!= chapter.html
    script(src="/build/application.js")

