doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(link rel="icon" href="data:;base64,iVBORw0KGgo=")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      | Resume
    style!= loadFile('client/build/resume.css')
  body
    // Hi!
    // You probably wanna see some source code.
    // I put all relevant files in [here](https://github.com/Kriegslustig/lucaschmid.net/blob/master/RESUME.md).
    noscript
      style.
        section {
          position: static !important;
          display: block;
          overflow: hidden;
        }
    main
    div(class="loader loader--active")
      div.loader__spinner
    translation-switcher(data-languages= languages)
      scrollthingy.scrollthingy
        each chapter in chapters
          section(data-name= chapter.name id= chapter.name).scrollthingy__section
            div.text__wrapper
              if chapter.name === '01_toc'
                each lang in languages
                  div.text(data-lang= lang)
                    !{chapter.texts[lang].html}
                    ul
                      each chapter in chapters
                        if chapter.title
                          li
                            a(href="#/#{lang}/#{chapter.name}")= chapter.titles[lang]
              else
                each text in chapter.texts
                  div.text(data-lang= text.lang)!= text.html
    script(src="/build/resume.js")
    script(src="/build/scrollthingy.js")

