<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {{ inlineCSS "_css/writ.css" }}
  {{ inlineCSS "_css/styles.css" }}
  <meta charset="utf-8" />
  {{#each meta}}
    <meta name="{{@key}}" content="{{this}}">
  {{/each}}
</head>
<body>
  <work-in-progress></work-in-progress>
  <main>
    <aside>
      <navigation></navigation>
    </aside>
    <nav>
      <ul>
        <li><a class="" href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/anotherblog">Blog</a></li>
      </ul>
    </nav>
    <content>
      {{{ content }}}
    </content>
  </main>
  <footer>
    <p><i>Made with love.</i></p>
  </footer>
  <script src="/_js/script.js"></script>
  <script src="/_tag/navigation.js"></script>
  <script src="/_tag/work-in-progress.js"></script>
</body>
</html>

