<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/_css/writ.css">
  <link rel="stylesheet" href="/_css/styles.css">
  <meta charset="utf-8" />
  {{#each meta}}
    <meta name="{{@keys}}" content="{{this}}">
  {{/each}}
</head>
<body>
  <aside>
    <navigation></navigation>
  </aside>
  <main>
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/anotherblog">Blog</a></li>
      </ul>
    </nav>
    {{{ content }}}
  </main>
  <script src="/_js/script.js"></script>
  <script src="/_tag/navigation.js"></script>
</body>
</html>

